:root {
    -blackAlternateColor: #17161B;
    -blackMainColor: #1A191F;
    -greenMainColor: #5BFF40;
    -mainHeaderSize: 96px;
    -secondaryHeaderSize: 48px;
    -aboutUsHeaderSize: 36px;
    -buttonHeaderSize: 32px;
    -logoSize: 40px;
    -navElementsSize: 24px;
    -mainFont: Gilroy
}